# set here the site configuration / dc / me
# the idea is that you copy this example file to a file called .env
# docker compose will load it automatically
CLIENT=me
# add here any other variable information you need
# TRIBES_INFORMATION_RAW_REVIEW_IS_ENABLED=true
# restart the container after changing this file
# APPLICATION_NEW_YEAR_EFFECTIVE_DATE_DAY_OF_MONTH="1"
# APPLICATION_NEW_YEAR_EFFECTIVE_DATE_MONTH_OF_YEAR="8"
# CONTACT_RATES_MESSAGE_IS_ENABLED=true
# RUBY_THREAD_VM_STACK_SIZE=2097152
# FILTERED_APPLICATION_LIST_IS_ENABLED=true
# IS_YOUR_HEALTH_COVERAGE_ENDING_EXPANDED_QUESTION_IS_ENABLED=true
# CAN_ADD_SEP: "true"
# ENROLLMENT_PLAN_TILE_UPDATE_IS_ENABLED=true
# TILES_CURRENT_AND_FUTURE_ONLY_IS_ENABLED=true
# TILES_GROUP_BY_YEAR_IS_ENABLED=true
# MEC_CHECK_IS_ENABLED=true