server {
  listen 65333;

  location / {
    types {
      application/json json;
    }
    default_type "application/json";
    return 501 '{
  "success": false,
  "deploy": false,
  "status": 501,
  "body": {
    "message": "No available upstream servers at current route from consul"
  }
}';
  }
}